<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <nav class="navbar fixed-top flex-md-nowrap p-0">
        <a href="{menu.0.link}" class="navbar-brand text-dark col-sm-3 col-md-2 mr-0">{menu.0.title}</a>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    {f:render(partial: 'Navigation', arguments: {pages: menu.0.children})}
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">{data.title}</h1>
                    <f:if condition="{data.abstract}">
                        <p>{data.abstract}</p>
                    </f:if>
                </div>

                {content -> f:format.raw()}
            </main>
        </div>
    </div>
</html>
